#first .orange {
  background-color: #f7b617;
  padding: left;
   height: 100px;
   width: 100%;
   display: block;
   margin: 0;
   box-sizing: border-box;
}

#first .black {

  background-color: #2b2b2b;
  color: white;
  height: 100px;
  width: 100%;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
}
#second .orange {
  background-color: #f7b617;
  padding: left;
   height: 100px;
   width: 200px;
   display: block;
   margin: 0;
   padding-top: 5px;
   box-sizing: content-box;
}

#second .black {

  background-color: #2b2b2b;
  color: white;
  height: 100px;
  width: 200px;
  display: block;
  margin:  10px 0 10px 0;
  margin:  10px 0 10px 0;
  padding-top: 5px;
  box-sizing: content-box;
}


#third .orange {
  background-color: #f7b617;
  padding: left;
   height: 100px;
   width: 200px;
   display: inline-block;
   margin: 0;
   box-sizing: border-box;
}

#third .black {

  background-color: #2b2b2b;
  color: white;
  height: 100px;
  width: 200px;
  display: inline-block;
  margin: 0 10px 0 10px;
  box-sizing: border-box;
}


#fourth .orange {
  background-color: #f7b617;
  text-align: center;
  height: 1em;
  width: auto;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  margin: 0 10px 0 10px;
}

#fourth .black {
text-align: center;
  background-color: #2b2b2b;
  color: white;
  height: 1em;
  width: auto;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  margin: 0 10px 0 10px;
}
